[Desktop Entry]
Version=0.9
Exec=/usr/bin/shoot
Icon=/usr/share/icons/hicolor/scalable/show-your-desktop.svg
Name=Show-Your-Desktop
Terminal=true
Type=Application
Categories=Other;Internet;
Comment=Take a screenshot of your desktop, Upload it to Imgur and get the URL. In one step.
